@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: var(--black);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--white: #FFF;
	--bg: #F6F7F9;
	--black: #333;
	--blue: #4267CF;
	--blue-l-1: #6381D7;
	--blue-l-2: #839BE0;
	--blue-l-3: #D4DDF4;
	--blue-d-1: #2E51B5;
	--blue-d-2: #122047;
	--grey: #EEE;
	--dark-grey: #888;

	--shadow-md: 0 10px 20px rgba(0, 0, 0, .05);
	--shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

body {
	background: var(--bg);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
	height: 100%;
	width: 100%;
}



/* NAVBAR */
nav {
	height: 64px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: all .3s ease;
}
nav.active {
	background: var(--white);
}
nav .container {
	display: flex;
	align-items: center;
	grid-gap: 64px;
}
nav .brand {
	font-size: 24px;
	font-weight: 600;
	display: flex;
	grid-gap: 8px;
	align-items: center;
	color: var(--white);
	transition: all .3s ease;
}
nav.active .brand,
nav.active .brand .bx,
nav.active .nav-menu a {
	color: var(--blue);
}
nav .brand .bx {
	color: var(--white);
}
nav .nav-menu {
	display: flex;
	grid-gap: 36px;
	flex-grow: 1;
}
nav .nav-menu a {
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 3px;
	position: relative;
	color: var(--white);
	transition: all .3s ease;
}
nav .nav-menu li:not(.login, .signup) a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	transform: translateX(-50%);
	transition: all .3s ease;
	height: 2px;
	background: var(--white);
}
nav.active .nav-menu li:not(.login, .signup) a::before {
	background: var(--blue);
}
nav .nav-menu li a.active::before,
nav .nav-menu li a:hover::before {
	width: 100%;
}
nav .login {
	margin-left: auto;
}
nav .nav-menu .signup a {
	padding: 10px 28px;
	background: var(--blue-l-1);
	transition: all .3s ease;
	display: inline-block;
}
nav.active .nav-menu .signup a {
	color: var(--white);
	background: var(--blue);
}
nav .nav-menu .signup a:hover {
	background: var(--blue-l-2);
}
nav.active .nav-menu .signup a:hover {
	background: var(--blue-l-1);	
}
nav .nav-menu .signup a:active {
	background: var(--blue-l-1);
}
nav.active .nav-menu .signup a:active {
	background: var(--blue-d-1);	
}
nav .toggle-menu {
	color: var(--white);
	margin-left: auto;
	display: none;
	font-size: 20px;
	cursor: pointer;
}
nav.active .toggle-menu {
	color: var(--blue);
}
/* NAVBAR */



/* HEADER */
header {
	padding: 144px 0;
	background: var(--blue);
	text-align: center;
}
header span {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	margin-bottom: 1rem;
	color: var(--white);
}
header h1 {
	font-size: 48px;
	font-weight: 600;
	max-width: 70%;
	margin: 0 auto;
	color: var(--white);
	line-height: 140%;
}
/* HEADER */




/* TOP POST */
#top-post {
	margin-top: -72px;
}
#top-post .wrapper {
	padding: 20px;
	background: var(--white);
	box-shadow: var(--shadow-md);
	display: flex;
	grid-gap: 20px;
	flex-wrap: wrap;
}
#top-post .wrapper .left {
	flex: 1.3 1 460px;
	height: 400px;
}
#top-post .wrapper .right {
	flex: 1 1 460px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#top-post .wrapper .left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#top-post .wrapper .time {
	font-size: 14px;
	color: var(--dark-grey);
	display: inline-block;
	margin-bottom: 1rem;
}
#top-post .wrapper .link-post {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 1rem;
	transition: all .3s ease;
}
#top-post .wrapper .link-post:hover {
	color: var(--blue);
}
#top-post .wrapper .link-post:active {
	color: var(--blue-d-1);
}
#top-post .wrapper .profile {
	display: flex;
	grid-gap: 8px;
	align-items: center;
	margin-bottom: 1rem;
}
#top-post .wrapper .profile img {
	width: 48px;
}
#top-post .wrapper .profile .name {
	font-weight: 600;
}
#top-post .wrapper .category {
	margin-top: auto;
	padding: 8px 16px;
	background: var(--blue-l-3);
	color: var(--blue);
	font-weight: 500;
	font-size: 14px;
}
/* TOP POST */




/* CONTENT */
#content {
	padding: 64px 0;
}
#content .categories {
	display: flex;
	grid-gap: 4px;
	align-items: center;
	margin-bottom: 36px;
	overflow-x: auto;
	scrollbar-width: none;
}
#content .categories li a {
	padding: 10px 16px;
	font-size: 14px;
	font-weight: 500;
	transition: all .3s ease;
	border: 1px solid transparent;
	white-space: nowrap;
	display: inline-block;
}
#content .categories li a:hover {
	border-color: var(--grey);
}
#content .categories li a.active {
	border: 1px solid var(--grey);
	color: var(--blue);
}


#content .wrapper-post {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px;
}
#content .wrapper-post .left {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 20px;
	grid-row-gap: 40px;
}
#content .post {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#content .post > img {
	width: 100%;
	margin-bottom: 20px;
}
#content .post .category {
	padding: 8px 16px;
	background: var(--blue-l-3);
	color: var(--blue);
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 1rem;
}
#content .post .time {
	font-size: 14px;
	color: var(--dark-grey);
	display: inline-block;
	margin-bottom: 1rem;
}
#content .post .link-post {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 1rem;
	transition: all .3s ease;
	line-height: 140%;
}
#content .post .link-post:hover {
	color: var(--blue);
}
#content .post .link-post:active {
	color: var(--blue-d-1);
}
#content .post .profile {
	display: flex;
	grid-gap: 8px;
	align-items: center;
	margin-bottom: 1rem;
}
#content .post .profile img {
	width: 48px;
}
#content .post .profile .name {
	font-weight: 600;
}
#content .featured-post {
	padding: 20px;
	background: var(--white);
	box-shadow: var(--shadow);
	margin-bottom: 28px;
}
#content .featured-post .posts li:not(:last-child) a {
	display: block;
	margin-bottom: 12px;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--grey);
}
#content .featured-post .posts li a {
	color: var(--dark-grey);
	transition: all .3s ease;
}
#content .featured-post .posts li a:hover {
	color: var(--black);
}
#content .sub-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
#content .sticky {
	position: sticky;
	top: 72px;
}
#content .sticky > * {
	margin-bottom: 28px;
}
#content .sticky input {
	width: 100%;
	outline: none;
	border: 1px solid var(--grey);
	padding: 10px 16px;
}
#content .sticky .social-link {
	display: flex;
	grid-gap: 8px;
}
#content .sticky .social-link li a {
	display: flex;
	width: 36px;
	transition: all .3s ease;
	height: 36px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid var(--black);
	font-size: 20px;
}
#content .sticky .social-link li a:hover {
	background: var(--black);
}
#content .sticky .social-link li a:hover .bx {
	color: var(--white);
}
#content .sticky .latest-post {
	display: flex;
	flex-direction: column;
	grid-gap: 8px;
}
#content .sticky .latest-post li a {
	display: flex;
	grid-gap: 12px;
	align-items: center;
}
#content .sticky .latest-post li a h4 {
	font-size: 16px;
	font-weight: 500;
	transition: all .3s ease;
}
#content .sticky .latest-post li a:hover h4 {
	color: var(--blue);
}
#content .sticky .latest-post li a:active h4 {
	color: var(--blue-d-1);
}
#content .sticky .latest-post img {
	height: 64px;
	width: 100px;
	object-fit: cover;
}
/* CONTENT */




/* FOOTER */
footer {
	background: var(--blue-d-2);
	height: 64px;
}
footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .brand {
	font-size: 24px;
	font-weight: 600;
	display: flex;
	grid-gap: 8px;
	align-items: center;
	color: var(--white);
	transition: all .3s ease;
}
footer .brand .bx {
	color: var(--white);
}
footer p {
	color: var(--white);
	font-size: 14px;
	font-weight: 500;
}
/* FOOTER */



@media screen and (max-width: 768px) {
	#content .wrapper-post {
		grid-template-columns: 1.2fr 1fr;
	}
	header h1 {
		font-size: 36px;
	}
	nav .nav-menu {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: var(--white);
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 1rem;
		padding: 1rem;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
	}
	nav .nav-menu.show {
		opacity: 1;
		visibility: visible;
		box-shadow: var(--shadow-md);
	}
	nav .nav-menu li a {
		color: var(--blue);
	}
	nav .login {
		margin-left: unset;
	}
	nav .nav-menu .signup a {
		color: var(--white);
		background: var(--blue);
	}
	nav .nav-menu .signup a:hover {
		background: var(--blue-l-1);	
	}
	nav .nav-menu .signup a:active {
		background: var(--blue-d-1);	
	}
	nav .toggle-menu {
		display: block;
	}
	nav .nav-menu li:not(.login, .signup) a::before {
		background: var(--blue);
	}
}



@media screen and (max-width: 576px) {
	#content .wrapper-post {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
	header h1 {
		font-size: 28px;
	}
}